@model UserEditProfile
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>Index</h1>
@*list olması için birden fazla satıra ait veri dönmeli*@
@*enctype resim kullanmak için gerekli*@
<form method="post" class="form-group" enctype="multipart/form-data">
    <label>Name:</label>
    @*taghelper kullanmak için ne yapmak gerekir ? viewimportta olması gerekir*@
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Surname:</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Email:</label>
    <input type="email" asp-for="Email" class="form-control" required />
    <br />
    <label>Phone:</label>
    <input type="text" asp-for="Phonenumber" class="form-control" />
    <br />
    <label>Password:</label>
    <input type="password" asp-for="Password" class="form-control" />
    <br />
    <label>Password Again:</label>
    <input type="password" asp-for="ConfirmedPassword" class="form-control" />
    <br />
    <label>Choose Picture:</label>
    <input type="file" asp-for="Image" class="form-control" />
    <br />
    <button class="btn btn-success">Save</button>
</form> 
